<h1 class="text-center">Infinite Loops Chess</h1>
<div class="col-10 center offset-1">
  <table id="chessboard">
    <tbody>
      <tr>
        <td id=<% if @piece == Piece.get_piece_at_coor(1, 8) %>
          "selected_square"
        <% else %>
          "18"
        <% end %>
        class="white">
          <% piece_image = @piece.game.render_piece(1, 8) %>
          <% if @piece == Piece.get_piece_at_coor(1, 8) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 1, y_position: 8), method: :put %>
          <% end %>
        </td>

        <td id=<% if @piece == Piece.get_piece_at_coor(2, 8) %>
          "selected_square"
        <% else %>
          "28"
        <% end %>
        class="black">
          <% piece_image = @piece.game.render_piece(2, 8) %>
          <% if @piece == Piece.get_piece_at_coor(2, 8) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 2, y_position: 8), method: :put %>
          <% end %>
        </td>
        
        <td id=<% if @piece == Piece.get_piece_at_coor(3, 8) %>
          "selected_square"
        <% else %>
          "38"
        <% end %>
        class="white">
          <% piece_image = @piece.game.render_piece(3, 8) %>
          <% if @piece == Piece.get_piece_at_coor(3, 8) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 3, y_position: 8), method: :put %>
          <% end %>
        </td>

        <td id=<% if @piece == Piece.get_piece_at_coor(4, 8) %>
          "selected_square"
        <% else %>
          "48"
        <% end %>
        class="black">
          <% piece_image = @piece.game.render_piece(4, 8) %>
          <% if @piece == Piece.get_piece_at_coor(4, 8) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 4, y_position: 8), method: :put %>
          <% end %>
        </td>

        <td id=<% if @piece == Piece.get_piece_at_coor(5, 8) %>
          "selected_square"
        <% else %>
          "58"
        <% end %>
        class="white">
          <% piece_image = @piece.game.render_piece(5, 8) %>
          <% if @piece == Piece.get_piece_at_coor(5, 8) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 5, y_position: 8), method: :put %>
          <% end %>
        </td>

        <td id=<% if @piece == Piece.get_piece_at_coor(6, 8) %>
          "selected_square"
        <% else %>
          "68"
        <% end %>
        class="black">
          <% piece_image = @piece.game.render_piece(6, 8) %>
          <% if @piece == Piece.get_piece_at_coor(6, 8) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 6, y_position: 8), method: :put %>
          <% end %>
        </td>

        <td id=<% if @piece == Piece.get_piece_at_coor(7, 8) %>
          "selected_square"
        <% else %>
          "78"
        <% end %>
        class="white">
          <% piece_image = @piece.game.render_piece(7, 8) %>
          <% if @piece == Piece.get_piece_at_coor(7, 8) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 7, y_position: 8), method: :put %>
          <% end %>
        </td>

        <td id=<% if @piece == Piece.get_piece_at_coor(8, 8) %>
          "selected_square"
        <% else %>
          "88"
        <% end %>
        class="black">
          <% piece_image = @piece.game.render_piece(8, 8) %>
          <% if @piece == Piece.get_piece_at_coor(8, 8) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 8, y_position: 8), method: :put %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td id=<% if @piece == Piece.get_piece_at_coor(1, 7) %>
          "selected_square"
        <% else %>
          "17"
        <% end %> 
        class="black">
          <% piece_image = @piece.game.render_piece(1, 7) %>
          <% if @piece == Piece.get_piece_at_coor(1, 7) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 1, y_position: 7), method: :put %>
          <% end %>
        </td>
        <td id=<% if @piece == Piece.get_piece_at_coor(2, 7) %>
          "selected_square"
        <% else %>
          "27"
        <% end %> 
        class="white">
          <% piece_image = @piece.game.render_piece(2, 7) %>
          <% if @piece == Piece.get_piece_at_coor(2, 7) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 2, y_position: 7), method: :put %>
          <% end %>
        </td>
        <td id=<% if @piece == Piece.get_piece_at_coor(3, 7) %>
          "selected_square"
        <% else %>
          "37"
        <% end %> 
        class="black">
          <% piece_image = @piece.game.render_piece(3, 7) %>
          <% if @piece == Piece.get_piece_at_coor(3, 7) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 3, y_position: 7), method: :put %>
          <% end %>
        </td>
        <td id=<% if @piece == Piece.get_piece_at_coor(4, 7) %>
          "selected_square"
        <% else %>
          "47"
        <% end %> 
        class="white">
          <% piece_image = @piece.game.render_piece(4, 7) %>
          <% if @piece == Piece.get_piece_at_coor(4, 7) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 4, y_position: 7), method: :put %>
          <% end %>
        </td>
        <td id=<% if @piece == Piece.get_piece_at_coor(5, 7) %>
          "selected_square"
        <% else %>
          "57"
        <% end %> 
        class="black">
          <% piece_image = @piece.game.render_piece(5, 7) %>
          <% if @piece == Piece.get_piece_at_coor(5, 7) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 5, y_position: 7), method: :put %>
          <% end %>
        </td>
        <td id=<% if @piece == Piece.get_piece_at_coor(6, 7) %>
          "selected_square"
        <% else %>
          "67"
        <% end %> 
        class="white">
          <% piece_image = @piece.game.render_piece(6, 7) %>
          <% if @piece == Piece.get_piece_at_coor(6, 7) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 6, y_position: 7), method: :put %>
          <% end %>
        </td>
        <td id=<% if @piece == Piece.get_piece_at_coor(7, 7) %>
          "selected_square"
        <% else %>
          "77"
        <% end %> 
        class="black">
          <% piece_image = @piece.game.render_piece(7, 7) %>
          <% if @piece == Piece.get_piece_at_coor(7, 7) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 7, y_position: 7), method: :put %>
          <% end %>
        </td>
        <td id=<% if @piece == Piece.get_piece_at_coor(8, 7) %>
          "selected_square"
        <% else %>
          "87"
        <% end %> 
        class="white">
          <% piece_image = @piece.game.render_piece(8, 7) %>
          <% if @piece == Piece.get_piece_at_coor(8, 7) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 8, y_position: 7), method: :put %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td id=<% if @piece == Piece.get_piece_at_coor(1, 6) %>
          "selected_square"
        <% else %>
          "16"
        <% end %> 
        class="white">
          <% piece_image = @piece.game.render_piece(1, 6) %>
          <% if @piece == Piece.get_piece_at_coor(1, 6) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 1, y_position: 6), method: :put %>
          <% end %>
        </td>
        <td id=<% if @piece == Piece.get_piece_at_coor(2, 6) %>
          "selected_square"
        <% else %>
          "26"
        <% end %> 
        class="white">
          <% piece_image = @piece.game.render_piece(2, 6) %>
          <% if @piece == Piece.get_piece_at_coor(2, 6) %>
            <%= piece_image %>
          <% else %>
            <%= link_to piece_image, piece_path(@piece.id, x_position: 2, y_position: 6), method: :put %>
          <% end %>
        </td>
        <td id="36" class="white">
          <%= piece = @piece.game.render_piece(3,6) %>
        </td>
        <td id="46" class="black">
          <%= piece = @piece.game.render_piece(4,6) %>
        </td>
        <td id="56" class="white">
          <%= piece = @piece.game.render_piece(5,6) %>
        </td>
        <td id="66" class="black">
          <%= piece = @piece.game.render_piece(6,6) %>
        </td>
        <td id="76" class="white">
          <%= piece = @piece.game.render_piece(7,6) %>
        </td>
        <td id="86" class="black">
          <%= piece = @piece.game.render_piece(8,6) %>
        </td>
      </tr>
      <tr>
        <td id="15" class="black">
          <%= piece = @piece.game.render_piece(1,5) %>
        </td>
        <td id="25" class="white">
          <%= piece = @piece.game.render_piece(2,5) %>
        </td>
        <td id="35" class="black">
          <%= piece = @piece.game.render_piece(3,5) %>
        </td>
        <td id="45" class="white">
          <%= piece = @piece.game.render_piece(4,5) %>
        </td>
        <td id="55" class="black">
          <%= piece = @piece.game.render_piece(5,5) %>
        </td>
        <td id="65" class="white">
          <%= piece = @piece.game.render_piece(6,5) %>
        </td>
        <td id="75" class="black">
          <%= piece = @piece.game.render_piece(7,5) %>
        </td>
        <td id="85" class="white">
          <%= piece = @piece.game.render_piece(8,5) %>
        </td>
      </tr>
      <tr>
        <td id="14" class="white">
          <%= piece = @piece.game.render_piece(1,4) %>
        </td>
        <td id="24" class="black">
          <%= piece = @piece.game.render_piece(2,4) %>
        </td>
        <td id="34" class="white">
          <%= piece = @piece.game.render_piece(3,4) %>
        </td>
        <td id="44" class="black">
          <%= piece = @piece.game.render_piece(4,4) %>
        </td>
        <td id="54" class="white">
          <%= piece = @piece.game.render_piece(5,4) %>
        </td>
        <td id="64" class="black">
          <%= piece = @piece.game.render_piece(6,4) %>
        </td>
        <td id="74" class="white">
          <%= piece = @piece.game.render_piece(7,4) %>
        </td>
        <td id="84" class="black">
          <%= piece = @piece.game.render_piece(8,4) %>
        </td>
      </tr>                            
      <tr>                             
        <td id="13" class="black">
          <%= piece = @piece.game.render_piece(1,3) %>
        </td>
        <td id="23" class="white">
          <%= piece = @piece.game.render_piece(2,3) %>
        </td>
        <td id="33" class="black">
          <%= piece = @piece.game.render_piece(3,3) %>
        </td>
        <td id="43" class="white">
          <%= piece = @piece.game.render_piece(4,3) %>
        </td>
        <td id="53" class="black">
          <%= piece = @piece.game.render_piece(5,3) %>
        </td>
        <td id="63" class="white">
          <%= piece = @piece.game.render_piece(6,3) %>
        </td>
        <td id="73" class="black">
          <%= piece = @piece.game.render_piece(7,3) %>
        </td>
        <td id="83" class="white">
          <%= piece = @piece.game.render_piece(8,3) %>
        </td>
      </tr>
      <tr>
        <td id="12" class="white">
          <%= piece = @piece.game.render_piece(1,2) %>
        </td>
        <td id="22" class="black">
          <%= piece = @piece.game.render_piece(2,2) %>
        </td>
        <td id="32" class="white">
          <%= piece = @piece.game.render_piece(3,2) %>
        </td>
        <td id="42" class="black">
          <%= piece = @piece.game.render_piece(4,2) %>
        </td>
        <td id="52" class="white">
          <%= piece = @piece.game.render_piece(5,2) %>
        </td>
        <td id="62" class="black">
          <%= piece = @piece.game.render_piece(6,2) %>
        </td>
        <td id="72" class="white">
          <%= piece = @piece.game.render_piece(7,2) %>
        </td>
        <td id="82" class="black">
          <%= piece = @piece.game.render_piece(8,2) %>
        </td>
      </tr>                            
      <tr>                             
        <td id="11" class="black">
          <%= piece = @piece.game.render_piece(1,1) %>
        </td>
        <td id="21" class="white">
          <%= piece = @piece.game.render_piece(2,1) %>
        </td>
        <td id="31" class="black">
          <%= piece = @piece.game.render_piece(3,1) %>
        </td>
        <td id="41" class="white">
          <%= piece = @piece.game.render_piece(4,1) %>
        </td>
        <td id="51" class="black">
          <%= piece = @piece.game.render_piece(5,1) %>
        </td>
        <td id="61" class="white">
          <%= piece = @piece.game.render_piece(6,1) %>
        </td>
        <td id="71" class="black">
          <%= piece = @piece.game.render_piece(7,1) %>
        </td>
        <td id="81" class="white">
          <%= piece = @piece.game.render_piece(8,1) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
