<div class="col-12 text-center">
  <h1>Do you want to play a game of chess? Here is a list of all the games that still need a player.</h1>

  <div>
    <% if !user_signed_in? %>
      <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class:'btn btn-success' %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:'btn btn-warning' %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to "Delete your registration", user_registration_path, method: :delete, class:'btn btn-danger' %>
    <% end %>
  </div>

  <br />
  <% @available_games.each do |game| %>
    <div class="row .container-fluid">
      <div class="col-12">
        The game with id <%= game.id %> was created <%= game.created_at.strftime("%b %d, %Y") %>
      </div> 

      <div class="col-12">
        <% if game.user_white == nil %>
          No one is playing White.
          <% if user_signed_in? %>
            <%= link_to "Join game as white", game_path(game.id), method: :put, class: "btn btn-success"%>
          <% else %>
            Sign in using link above if you want to join this game.
          <% end %>
        <% else %>
          <%= game.user_white.name %> is playing white. 
        <% end %>    
      </div>

      <div class="col-12">
        <% if game.user_black == nil %>
          No one is playing Black.
          <% if user_signed_in? %>
            <%= link_to "Join game as black", game_path(game.id), method: :put, class: "btn btn-success"%>
          <% else %>
            Sign in using link above if you want to join this game.
          <% end %>
        <% else %>
          <%= game.user_black.name %> is playing black.
        <% end %>    
      </div>
    </div>

    <br />
  <% end %>

  <div class="col-12">
    <% if user_signed_in? %>
      <h1>Or you can create a new game and ask someone else to join you.</h1>
      <%= link_to "Create new game", games_path(game: {user_white_id: current_user} ), method: :post, class: "btn btn-success" %>
    <% else %>
      <h1>Sign in if you want to create a new game.</h1>
    <% end %>
  </div>
</div>
