<div class="col-12 text-center">
  <h1>Do you want to play a game of chess?</h1>

  <br />
  <h1>Here is a list of all the games that have two players and are currently ongoing:</h1>  
  <% @games_in_progress.each do |game| %>
    <div class="row .container-fluid">
      <div class="col-12">
        The game with id <%= game.id %> was created <%= game.created_at.strftime("%b %d, %Y") %>
      </div> 
      <div class="col-12">
        <%= game.user_white.name %> is playing white.
      </div>
      <div class="col-12">
        <%= game.user_black.name %> is playing black.
      </div>
      <div class="col-12">
        <% if current_user == game.user_white || current_user == game.user_black %>
          <%= link_to "Continue game", game_path(game.id), method: :get, class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
    
    <br />
  <% end %>

  <br />
  <h1>Here is a list of all the games that are still looking for someone to play black:</h1>
  <% @available_games.each do |game| %>
    <div class="row .container-fluid">
      <div class="col-12">
        The game with id <%= game.id %> was created <%= game.created_at.strftime("%b %d, %Y") %>
      </div> 

      <div class="col-12">
        <%= game.user_white.name %> is playing white.
      </div>

      <div class="col-12">
        <% if game.user_black == nil %>
          No one is playing Black.
          <% if user_signed_in? %>
            <%= link_to "Join game as black", game_path(game.id), method: :put, class: "btn btn-success"%>
          <% else %>
            Sign in using link above if you want to join this game.
          <% end %>
        <% else %>
          <%= game.user_black.name %> is playing black.
        <% end %>    
      </div>
    </div>

    <br />
  <% end %>

  <div class="col-12">
    <h1>Here is a list of all the games that have ended: </h1>
    <% @games_ended.each do |game| %>
      <div class="row .container-fluid">
        <div class="col-12">
          The game with id <%= game.id %> was created <%= game.created_at.strftime("%b %d, %Y") %>
        </div> 
        <div class="col-12">
          <%= game.user_white.name %> played white.
        </div>
        <div class="col-12">
          <%= game.user_black.name %> played black.    
        </div>
        <div class="col-12">
          <%= link_to "See how this game ended", game_path(game.id), method: :get, class: "btn btn-success"%>
        </div>
      </div>
      <br />
    <% end %>
  </div>

</div>
