<h1 class="text-center">Infinite Loops Chess</h1>
<div class="col-10 center offset-1">
  <table id="chessboard">
    <tbody>
      <tr>
        <td id="18" class="white">
          <% piece_image = @game.render_piece(1, 8) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(1, 8) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="28" class="black">
          <% piece_image = @game.render_piece(2, 8) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(2, 8) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>  
        </td>
        <td id="38" class="white">
          <% piece_image = @game.render_piece(3, 8) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(3, 8) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="48" class="black">
          <% piece_image = @game.render_piece(4, 8) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(4, 8) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="58" class="white">
          <% piece_image = @game.render_piece(5, 8) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(5, 8) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="68" class="black">
          <% piece_image = @game.render_piece(6, 8) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(6, 8) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="78" class="white">
          <% piece_image = @game.render_piece(7, 8) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(7, 8) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="88" class="black">
          <% piece_image = @game.render_piece(8, 8) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(8, 8) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td id="17" class="black">
          <% piece_image = @game.render_piece(1, 7) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(1, 7) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="27" class="white">
          <% piece_image = @game.render_piece(2, 7) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(2, 7) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="37" class="black">
          <% piece_image = @game.render_piece(3, 7) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(3, 7) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="47" class="white">
          <% piece_image = @game.render_piece(4, 7) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(4, 7) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="57" class="black">
          <% piece_image = @game.render_piece(5, 7) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(5, 7) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="67" class="white">
          <% piece_image = @game.render_piece(6, 7) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(6, 7) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="77" class="black">
          <% piece_image = @game.render_piece(7, 7) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(7, 7) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="87" class="white">
          <% piece_image = @game.render_piece(8, 7) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(8, 7) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td id="16" class="white">
          <% piece_image = @game.render_piece(1, 6) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(1, 6) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="26" class="black">
          <% piece_image = @game.render_piece(2, 6) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(2, 6) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="36" class="white">
          <% piece_image = @game.render_piece(3, 6) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(3, 6) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="46" class="black">
          <% piece_image = @game.render_piece(4, 6) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(4, 6) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="56" class="white">
          <% piece_image = @game.render_piece(5, 6) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(5, 6) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="66" class="black">
          <% piece_image = @game.render_piece(6, 6) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(6, 6) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="76" class="white">
          <% piece_image = @game.render_piece(7, 6) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(7, 6) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="86" class="black">
          <% piece_image = @game.render_piece(8, 6) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(8, 6) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td id="15" class="black">
          <% piece_image = @game.render_piece(1, 5) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(1, 5) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="25" class="white">
          <% piece_image = @game.render_piece(2, 5) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(2, 5) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="35" class="black">
          <% piece_image = @game.render_piece(3, 5) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(3, 5) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="45" class="white">
          <% piece_image = @game.render_piece(4, 5) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(4, 5) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="55" class="black">
          <% piece_image = @game.render_piece(5, 5) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(5, 5) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="65" class="white">
          <% piece_image = @game.render_piece(6, 5) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(6, 5) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="75" class="black">
          <% piece_image = @game.render_piece(7, 5) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(7, 5) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="85" class="white">
          <% piece_image = @game.render_piece(8, 5) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(8, 5) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
      </tr>

      <tr>
        <td id="14" class="white">
          <% piece_image = @game.render_piece(1, 4) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(1, 4) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="24" class="black">
          <% piece_image = @game.render_piece(2, 4) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(2, 4) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="34" class="white">
          <% piece_image = @game.render_piece(3, 4) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(3, 4) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="44" class="black">
          <% piece_image = @game.render_piece(4, 4) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(4, 4) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="54" class="white">
          <% piece_image = @game.render_piece(5, 4) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(5, 4) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="64" class="black">
          <% piece_image = @game.render_piece(6, 4) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(6, 4) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="74" class="white">
          <% piece_image = @game.render_piece(7, 4) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(7, 4) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="84" class="black">
          <% piece_image = @game.render_piece(8, 4) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(8, 4) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
      </tr>  

      <tr>                             
        <td id="13" class="black">
          <% piece_image = @game.render_piece(1, 3) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(1, 3) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        </td>
        <td id="23" class="white">
          <%= @game.render_piece(2,3) %>
        </td>
        <td id="33" class="black">
          <%= @game.render_piece(3,3) %>
        </td>
        <td id="43" class="white">
          <%= @game.render_piece(4,3) %>
        </td>
        <td id="53" class="black">
          <%= @game.render_piece(5,3) %>
        </td>
        <td id="63" class="white">
          <%= @game.render_piece(6,3) %>
        </td>
        <td id="73" class="black">
          <%= @game.render_piece(7,3) %>
        </td>
        <td id="83" class="white">
          <%= @game.render_piece(8,3) %>
        </td>
      </tr>
      <tr>
        <td id="12" class="white">
          <% piece_image = @game.render_piece(1, 2) %>
          <% if piece_image.present? %>
          <% piece = Piece.get_piece_at_coor(1, 2) %>
            <%= link_to piece_image, piece_path(piece.id) %>
          <% end %>
        </td>
        <td id="22" class="black">
          <%= @game.render_piece(2,2) %>
        </td>
        <td id="32" class="white">
          <%= @game.render_piece(3,2) %>
        </td>
        <td id="42" class="black">
          <%= @game.render_piece(4,2) %>
        </td>
        <td id="52" class="white">
          <%= @game.render_piece(5,2) %>
        </td>
        <td id="62" class="black">
          <%= @game.render_piece(6,2) %>
        </td>
        <td id="72" class="white">
          <%= @game.render_piece(7,2) %>
        </td>
        <td id="82" class="black">
          <%= @game.render_piece(8,2) %>
        </td>
      </tr>                            
      <tr>                             
        <td id="11" class="black">
          <%= @game.render_piece(1,1) %>
        </td>
        <td id="21" class="white">
          <%= @game.render_piece(2,1) %>
        </td>
        <td id="31" class="black">
          <%= @game.render_piece(3,1) %>
        </td>
        <td id="41" class="white">
          <%= @game.render_piece(4,1) %>
        </td>
        <td id="51" class="black">
          <%= @game.render_piece(5,1) %>
        </td>
        <td id="61" class="white">
          <%= @game.render_piece(6,1) %>
        </td>
        <td id="71" class="black">
          <%= @game.render_piece(7,1) %>
        </td>
        <td id="81" class="white">
          <%= @game.render_piece(8,1) %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
