<head>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"> 
</script>
</head>

<body>

  <div id="gameId" data-game-id=<%= @game.id %>>
  </div>

  <div id="gameState" data-game-state=<%= @game.state %>>
  </div>

  <h1 class="text-center">Infinite Loops Chess</h1>

  <div id="messages">
    <% if @game.checkmate?(true) %>
      <p><%= User.find(@game.user_black_id).name %> has checkmated <%= User.find(@game.user_white_id).name %>!</p>
    <% elsif @game.checkmate?(false) %>
      <p><%= User.find(@game.user_white_id).name %> has checkmated <%= User.find(@game.user_black_id).name %>!</p>
    <% elsif @game.stalemate?(true) %>
      <p><%= User.find(@game.user_white_id).name %> has been stalemated by <%= User.find(@game.user_black_id).name %>!</p>
    <% elsif @game.stalemate?(false) %>
      <p><%= User.find(@game.user_black_id).name %> has been stalemated by <%= User.find(@game.user_white_id).name %>!</p>
    <% end %>
    <% if @game.state == Game::FORFEIT %>
      <% losing_player = User.find(@game.player_lose) %>
      <p><%= losing_player.name %> has forfeited the game!</p>
    <% end %>
  </div>

  <div class="col-10 center offset-1">
    <table id="chessboard">
      <tbody>
        <% [8, 7, 6, 5, 4, 3, 2, 1].each do |row| %>
          <tr>
            <% (1..8).each do |col| %>
              <td
                id=<%="#{col}#{row}"%>
              <% if (col + row).odd? %>
                class="white"
              <% else %>
                class="black"
              <% end %>
              >
                <% piece_image = @game.render_piece(col, row) %>
                <% if piece_image.present? %>
                  <% piece = @game.get_piece_at_coor(col, row) %>
                  <%= image_tag piece_image, :id => "piece", :data => {
                      :id => piece.id,
                      :type => piece.type,
                      :color => (piece.is_white ? "white" : "black"),
                      :x => piece.x_position,
                      :y => piece.y_position
                    }
                  %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= button_to "Forfeit", forfeit_game_path(@game), :class => "btn btn-success", :method => :patch %>
  </div>


</body>